version: '3.8'

# 백엔드 개발 환경 구축용 도커 컨테이너들
services:
  # npm install 이 안되어있으면 작동 안함
  nestjs:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: node_dev
    depends_on:
      - mysql
    ports:
      - "3000:3000"
    networks:
      - backend
    volumes:
      - .:/app
    working_dir: /app
    env_file:
      .env
    environment:
      - TZ=Asia/Seoul

  mysql:
    image: mysql:8.0.33
    container_name: mysql_dev
    environment:
      TZ: Asia/Seoul
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: manito
      MYSQL_USER: manito
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    networks:
      - backend

networks:
  backend:
    driver: bridge
