ACCESS_URL="http://localhost:3000"
NODE_ENV="dev"
# PRISMA
DATABASE_URL="mysql://{user}:{pw}@{host}:{port}/{db}"
# APP CONFIG
APP_HOST="localhost"
APP_PORT="3000"
# JWT CONFIG
JWT_SECRET=""
JWT_EXPIRES_IN="3600"
# FT_CONFIG
FT_SECRET=""
FT_CLIENT=""
FT_CALLBACK="auth/42/callback"